* {
  box-sizing: border-box;
}

.container {
  margin: 32px;
}

.rect {
  margin-bottom: 16px;
  background-color: coral;
  opacity: 0.5;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  transition: width 2s, opacity 0.5s;
}
.linear {
  animation-timing-function: linear;
}
.ease {
  animation-timing-function: ease;
}
.ease-in {
  animation-timing-function: ease-in;
}
.ease-out {
  animation-timing-function: ease-out;
}
.ease-in-out {
  animation-timing-function: ease-in-out;
}

.rect:hover {
  width: 100%;
  opacity: 1;
}
