* {
  box-sizing: border-box;
}

.image-container {
  position: relative;
}
.image {
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
.image-button {
  width: 200px;
  height: 50px;
  display: inline-block;
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.5;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 100px);
}
.image-button:hover {
  opacity: 1;
}
