* {
  box-sizing: border-box;
}

.articles {
  display: flex;
}
.articles > div {
  width: 150px;
  height: 100px;
  margin: 16px;
  background-color: beige;
}
.visible-text {
}
.cropped {
  overflow: hidden;
}
.both-scrolls {
  overflow: scroll;
  cursor: all-scroll;
}
.vertical-scroll {
  overflow: auto;
  cursor: all-scroll;
}
