body {
  font-family: Verdana;
}

h1 {
  font-size: 74px;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div {
  height: 200px;
  background-color: coral;
  text-transform: uppercase;
  color: white;
  line-height: 200px;
  text-align: center;
}
