* {
  box-sizing: border-box;
}
table {
  width: 500px;
  margin: 16px;
}
table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 4px;
  text-align: right;
}

div {
  overflow: auto;
}

table,
tr {
  height: 40px;
}

tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody > tr:hover {
  background-color: #aaa;
  color: white;
}

thead {
  background-color: aqua;
}
tfoot {
  font-weight: 700;
}
caption {
  margin-bottom: 8px;
}
