.text {
  margin: 16px;
  border-bottom: 1px dotted black;
  display: inline-block;
  position: relative;
}
.text:hover .tooltip {
  display: block;
}
.tooltip {
  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  left: 0;
  bottom: -40px;
  display: none;
}
