* {
  box-sizing: border-box;
}

html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  height: 3em;
  padding: 0 1em;
  background-color: #eee;
}

.fas::before {
  position: relative;
  top: 8px;
  display: none;
}
.fa-bars {
  font-size: 2em;
  cursor: pointer;
}
.main {
}
.navigation {
}
.nav-list {
  width: 20%;
  padding: 0;
}
.nav-list-item {
  line-height: 2em;
  list-style-type: none;
  background-color: #808080;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-list-link {
  padding: 0 0.5em;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 600px) {
  .fas::before {
    display: block;
  }
  .navigation {
    display: none;
  }
}
