.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 50%;
}
.small-bird {
  width: 64px;
  height: 64px;
}
.large-bird {
  width: 320px;
  width: 320px;
}
