.row {
  display: flex;
  height: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.small-bird {
  width: 64px;
  height: 64px;
}
.large-bird {
  width: 320px;
  width: 320px;
}

.column:last-child {
  height: 357px;
}
