.container {
  text-transform: lowercase;
  font-family: Verdana, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
}

.container div {
  min-height: 200px;
  display: flex;
}

span {
  margin: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
  padding: 8px;
}
.navigation {
  background-color: #ff7f50;
}
.product-list {
  background-color: #006400;
}
.news {
  background-color: #0ff;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navigation {
    flex: 1 1 50%;
  }
  .product-list {
    flex: 1 1 50%;
  }
  .news {
    flex: 1 1 100%;
  }
}

@media (min-width: 1200px) {
  .container div {
    flex: 1 1 33.3333%;
    align-items: center;
  }

  .container {
    text-align: center;
  }
}
