* {
  box-sizing: border-box;
}

table {
  margin: 16px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

table td {
  width: 50px;
  height: 50px;
}

tr:nth-child(2) td {
  border: 1px solid black;
}

tr:nth-child(2) td:nth-child(odd) {
  background-color: #000;
}
tr:nth-child(2) td:first-child {
  background-color: #fff;
}

tr:nth-child(2) td:first-child {
  border: none;
}
tr:nth-child(2) td:last-child {
  border: none;
}
/*  */
tr:nth-child(3) td {
  border: 1px solid black;
}

tr:nth-child(3) td:nth-child(even) {
  background-color: #000;
}
tr:nth-child(3) td:last-child {
  background-color: #fff;
}

tr:nth-child(3) td:first-child {
  border: none;
}
tr:nth-child(3) td:last-child {
  border: none;
}
/*  */
tr:nth-child(4) td {
  border: 1px solid black;
}

tr:nth-child(4) td:nth-child(odd) {
  background-color: #000;
}
tr:nth-child(4) td:first-child {
  background-color: #fff;
}

tr:nth-child(4) td:first-child {
  border: none;
}
tr:nth-child(4) td:last-child {
  border: none;
}

/*  */
tr:nth-child(5) td {
  border: 1px solid black;
}

tr:nth-child(5) td:nth-child(even) {
  background-color: #000;
}
tr:nth-child(5) td:last-child {
  background-color: #fff;
}

tr:nth-child(5) td:first-child {
  border: none;
}
tr:nth-child(5) td:last-child {
  border: none;
}
/*  */
tr:nth-child(6) td {
  border: 1px solid black;
}

tr:nth-child(6) td:nth-child(odd) {
  background-color: #000;
}
tr:nth-child(6) td:first-child {
  background-color: #fff;
}

tr:nth-child(6) td:first-child {
  border: none;
}
tr:nth-child(6) td:last-child {
  border: none;
}

/*  */
tr:nth-child(7) td {
  border: 1px solid black;
}

tr:nth-child(7) td:nth-child(even) {
  background-color: #000;
}
tr:nth-child(7) td:last-child {
  background-color: #fff;
}

tr:nth-child(7) td:first-child {
  border: none;
}
tr:nth-child(7) td:last-child {
  border: none;
}
/*  */
tr:nth-child(8) td {
  border: 1px solid black;
}

tr:nth-child(8) td:nth-child(odd) {
  background-color: #000;
}
tr:nth-child(8) td:first-child {
  background-color: #fff;
}

tr:nth-child(8) td:first-child {
  border: none;
}
tr:nth-child(8) td:last-child {
  border: none;
}
/*  */
tr:nth-child(9) td {
  border: 1px solid black;
}

tr:nth-child(9) td:nth-child(even) {
  background-color: #000;
}
tr:nth-child(9) td:last-child {
  background-color: #fff;
}

tr:nth-child(9) td:first-child {
  border: none;
}
tr:nth-child(9) td:last-child {
  border: none;
}
