* {
  box-sizing: border-box;
}

.dropdown {
  margin: 16px;
  cursor: pointer;
}
.dropdown:hover .menu-list {
  display: block;
}
.menu-item:hover {
  background-color: ghostwhite;
}
.menu-button {
  display: inline-block;
  padding: 16px;
  background-color: darkgreen;
  opacity: 0.8;
  font-size: 16px;
  color: white;
  position: relative;
}
.menu-button:hover {
  opacity: 1;
}
.menu-list {
  display: none;
  margin: 0;
  padding: 0;
  background-color: lightcyan;
  color: black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  min-width: 120px;
  position: relative;
  z-index: 5;

  position: absolute;
}
.menu-item {
  padding: 16px;
  list-style-type: none;
}
