* {
  box-sizing: border-box;
}
body {
  padding: 2;
  margin: 0;
  background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/hw2/background.jpg');
  background-repeat: repeat;
}
