* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vh;
  height: 100vw;
}
.spinner {
  margin: auto;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s linear infinite;
}
.rect {
  background-color: #000;
  width: 10px;
  height: 4px;
  border-radius: 4px;
  animation: blinking 2s linear infinite;
  animation: moving 2s linear infinite alternate;
  position: relative;
  top: 0;
  left: 0;
}

@keyframes moving {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 70px;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
