* {
  box-sizing: border-box;
}
body {
  position: relative;
}
.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.nav-item {
  float: left;
  margin-left: 16px;
  color: white;
  line-height: 80%;
  list-style-type: none;
}

.content {
  background-color: beige;
  height: 5000px;
  position: relative;
}
.head {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  position: relative;
  top: calc(100% / 2);
  left: calc(100% / 2);
}
.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  display: inline-block;
  position: relative;

  top: -60px;
}
.ear_right {
  left: -40px;
}
.ear_left {
  right: -160px;
}
.eye {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
}
.eye_right {
  position: absolute;
  right: 40px;
}
.eye_left {
  position: absolute;
  left: 40px;
}
