body {
  color: white;
  font-size: 18px;
}
header {
  background-color: red;
  height: 100px;
}

h1 {
  font-size: 24px;
}

main {
  background-color: blue;
  height: 300px;
}
footer {
  background-color: green;
  height: 100px;
}
