* {
  box-sizing: border-box;
}

.image-container img {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 100%;
  display: block;
  border-radius: 20px;
}

.gallery {
  display: flex;
}
.card {
  margin: 16px;
  box-shadow: 0 7px 18px -8px rgba(0, 0, 0, 0.75);
}
.opacity-filter {
}
.caption {
  line-height: 30px;
  text-align: center;
  text-transform: lowercase;
}

.opacity-filter {
  filter: opacity(50%);
}
.blur-filter {
  filter: blur(4px);
}
.invert-filter {
  filter: invert(100%);
}
