li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  height: 40px;
  background-color: yellow;
  margin: 0;
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  margin: 0;
}
.header__link {
  margin-right: 16px;
}
.main {
  flex-grow: 1;
  display: flex;
}
.main__section {
  background-color: pink;
  flex-grow: 1;
  display: flex;
}
.main__title {
  margin: auto;
}
.main__aside {
}
.aside-main {
  flex-basis: 200px;
}
.aside-main__title {
  text-align: center;
  margin: 16px 0;
}
.aside-main__list {
}
.aside-main__link {
  margin-left: 16px;
  line-height: 40px;
}

.footer {
  height: 40px;
  background-color: green;
  display: flex;
}
.footer__text {
  margin: auto;
}
