div {
  box-sizing: content-box;
  width: 420px;
  height: 140px;
  background-color: bisque;
  margin: 50px 100px 50px 100px;
  padding: 20px;
  font-size: 24px;
  border-width: 10px 20px;
  border-style: solid solid dashed dashed;
  border-color: firebrick chartreuse burlywood aqua;
}
