* {
  box-sizing: border-box;
}

div {
  margin: 50px;
  border: 2px solid black;
}

.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.pink {
  padding: 50px;
  background-color: pink;
}
