body {
  padding: 50px 50px 0 50px;
}
* {
  box-sizing: border-box;
}

div {
  border: 2px solid black;
}

.blue {
  padding: 50px;

  background-color: blue;
}
.yellow {
  padding: 50px;

  background-color: yellow;
}
.green {
  padding: 50px;

  background-color: green;
}
.pink {
  padding: 50px;
  background-color: pink;
}
