* {
  box-sizing: border-box;
}
body {
  padding: 25px;
}
div {
  margin: 25px;
  padding: 25px;
  border: 2px solid black;
}

.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.pink {
  background-color: pink;
}
