* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  color: #555;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
  /* padding: 0.5em; */
}

.main {
  flex-grow: 1;
  display: flex;

  font-size: 1.25em;
}
.navigation {
  flex-basis: 20%;
}
.navigation,
.section,
.news {
  padding: 0.5em;
}

.nav-list {
  line-height: 1.75em;
  padding: 0;
  list-style-type: none;
}
.nav-list-item {
  margin-bottom: 0.5em;
  background-color: #808080;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.nav-list-link {
  color: #fff;
  line-height: 2em;
  text-decoration: none;
}
.section {
  flex-basis: 60%;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.units-list {
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.news {
  flex-basis: 20%;
}
.footer {
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}
