* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  color: #555;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  text-align: center;
  color: #fff;
  background-image: linear-gradient(60deg, red, orange);
}

.main {
  flex: 1 1 auto;
  display: flex;
  width: 100vw;
}
.navigation {
  flex: 1 0 20%;
  max-width: 40%;
}
.navigation,
.section,
.news {
  padding: 0.5em;
}
.nav-list {
  padding: 0;
  list-style-type: none;
}
.nav-list-item {
  line-height: 1.75em;
  margin-bottom: 0.5em;
  background-color: #808080;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-list-link {
  line-height: 2em;
  color: #fff;
  text-decoration: none;
  padding: 0 0.5em;
}
.section {
  flex: 1 0 60%;
  font-size: 1.25em;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.units-list li {
  margin-bottom: 0.5em;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.news {
  flex: 0 1 20%;
}
.footer {
  background-color: #e5e5e5;
  text-align: center;
  padding: 0.5em;
}
