* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  color: #555;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.header {
  color: #fff;
  background-image: linear-gradient(60deg, red, orange);
  text-align: center;
}
.main {
  flex: 1 0 auto;
}

.navigation {
  padding: 0.5em;
  /* flex: 0 1 20%; */
  width: 20%;
}
.nav-list {
  padding: 0;
  list-style-type: none;
  /* min-width: 100%; */
}
.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;
  padding: 0 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.nav-list-link {
  color: #fff;
  text-decoration: none;
}

.section {
  padding: 0.5em;
  /* flex: 1 1 60%; */
  width: 60%;

  font-size: 1.25em;
  line-height: 1.75em;
}
.section__header {
  font-size: calc((100vw * 1.05) - 100vw);
  text-align: center;
}
.units-list {
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 125%;
  font-weight: 700;
}
.news {
  padding: 0.5em;
  /* flex: 0 0 20%; */
  width: 20%;
}
.footer {
  padding: 0.5em;
  background-color: #e5e5e5;
  text-align: center;
}
