body {
  background-color: antiquewhite;
}

div {
  border: 8px solid black;
  padding: 16px;
  margin: 16px;
  width: 512px;
  height: 128px;
}

div:first-child {
  box-sizing: content-box;
  background-color: aquamarine;
}
div + div {
  box-sizing: border-box;
  background-color: azure;
}
