.container__not {
  display: none;
}
.container__hidden {
  visibility: hidden;
}
.container__visible {
  visibility: visible;
}
.container div {
  width: 100px;
  height: 100px;
  background-color: coral;
}
