* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
}
.article {
  background-color: bisque;
  margin: 8px;
  padding: 16px;
  flex: 1 0 300px;
}
