$sm: 600px;
$md: 900px;
$lg: 1200px;

@mixin for-medium {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin for-medium-plus {
  @media screen and (min-width: $md) {
    @content;
  }
}
@mixin for-large {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin position {
  @media screen and (orientation: landscape) {
    @content;
  }
}
