@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

.container {
  margin: auto;
}
.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: #ff7f50;
  @include for-medium-up {
    background-color: #8a2be2;
  }
  @include for-medium-down {
    background-color: #a61;
  }
  @include for-large {
    background-color: #a61;
  }
  @include for-large-ap {
    background-color: #c47;
  }
}
