@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  @include position {
    flex-direction: row;
  }
}
.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: #ff7f50;
  @include for-medium {
    background-color: #8a2be2;
  }
  @include for-medium-plus {
    background-color: #a61;
  }
  @include for-large {
    background-color: #c47;
  }
}
