button {
  margin: 64px;
  width: 200px;
  height: 50px;
  background-color: coral;
  color: white;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}

button:hover {
  background-color: darkcyan;
}

.bird-icon {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  fill: white;
}

button:hover .bird-icon {
  fill: green;
}
