* {
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
}
.spinner {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  width: 50px;
  height: 50px;
  border: 4px solid lightgrey;
  border-top-color: black;
  border-radius: 50%;
  margin-bottom: 8px;
  animation: crc 2s linear infinite;
}
.spinner-text {
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
  animation: blinking 2s linear infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes crc {
  0% {
    border-top-color: black;
  }
  33% {
    border-right-color: black;
  }
  66% {
    border-bottom-color: black;
  }
  100% {
    border-left-color: black;
  }
}
