* {
  box-sizing: border-box;
}

.block {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  margin: 0 auto;
  position: relative;
  animation: top 2s ease forwards;
}

@keyframes top {
  0% {
    top: 0;
  }
  100% {
    top: calc(50vh - 50px);
  }
}
